body{
    background-image: url("../images/backgroundimg.jpeg") ;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.pageBody{
    height:100vh;
    
}

#intro{
    border-right: 3px solid white;
    float: left; 
    white-space: nowrap;
    color:snow;
    text-shadow: 2px 2px #000000;
}

.name{
    font-size: 150px;
    font-weight: 200;
}

#icons{
    font-size:35px;
}

.iBtn {
    color: white;
    text-shadow: 2px 2px #000000;
}

p{
    
    font-size: 25px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 0px;
    padding-left: 10px;
    text-align: center;
    
    opacity: .8;
    
}

#collapseCard{
    width: 60%;
}

#content{
    float: left;
    white-space: nowrap;
    text-align: left;
    
}