#intro{
    border-right: 3px solid black;
    float: left; 
    white-space: nowrap;
}

.name{
    font-size: 150px;
    font-weight: 200;
}

#icons{
    font-size:35px;
}

.iBtn {
    color:black;
}

.contBox,
p{
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 0px;
    padding-left: 10px;
}

#collapseCard{
    width: 60%;
}

#content{
    float: left;
    white-space: nowrap;
}