body{
    background-image: url("../images/backgroundimg.jpeg") ;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.pageBody{
    height:100vh;
    
}

#intro{
    border-right: 3px solid white;
    float: left; 
    white-space: nowrap;
    color:snow;
    
}

.name{
    font-size: 150px;
    font-weight: 200;
    text-shadow: 2px 2px #000000;
}

#icons{
    font-size:35px;
    text-shadow: 2px 2px #000000;
}

.iBtn,
.lead {
    color: white;
    text-shadow: 2px 2px #000000;
}


.contBox{
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 0px;
    padding-left: 5px;
    text-shadow: 0px;
}
p{
    text-align: center;
}


#collapseCard{
    width: 60%;
}

#content{
    float: left;
    white-space: nowrap;
    text-align: left;
    
}